.content {
  padding: 10px;
}

/* makes bread crumbs horizantal instead of bullet list */
ul#menu li {
    display:inline;
}

/* Centers icons in */
i { 
  vertical-align: bottom; 
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
